{# src/Pastel/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "PastelPlatformBundle::layout.html.twig" %}

   
{% block body %}
    <p>Hello Julie !</p>
    <p>Ta tasse est prête et n'attend plus que toi.</p>
    <p>J'espère que tu as bien dormi.</p>
    <p>Alors, tu vois qu'il est au top ce site, il te parle tous les matins et en plus il prépare le café :cD</p>
    <p>Bisous bisous</p><br>
    <p><strong>PS : </strong>Ne pose pas ta tasse sur mon tapis de souris stp.</p>
{% endblock %}
