{# src/Pastel/PlatformBundle/Resources/views/Default/index.html.twig #}

<html>
  <body>
    <p>Hello Julie !</p>
    <p>Haha ! Je te prend la main dans le sac sur mon PC.</p>
    <p>J'espère que tu as bien dormi et que tu n'as pas trop de courbatures.</p>
    <p>Alors, que penses-tu de mon nouveau site ? Au top, non ? :cD</p>
    <p>Bisous bisous</p><br>
    <p><strong>PS : </strong>Ne pose pas ta tasse sur mon tapis de souris stp.</p>
  </body>
</html>