{# src/Pastel/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "PastelPlatformBundle::layout.html.twig" %}

   
{% block body %}
    <p>Hello Jolie Julie !</p>
    <p style="font-size: 7em;">T'es très belle ce matin <br> comme tous les matins <br>mais moins que demain</p>
    <p><strong>PS : </strong>Ne pose pas ta tasse sur mon tapis de souris stp.</p>
{% endblock %}
