/************************** Common **************************/
body {
    color: #7b7b7b;
}

h1, h2, h3, h4, h5, h6 {
    color: #033e5d;
}

a,
a:focus {
    color: #033e5d ;   
    text-decoration: none;
}

a:hover,
a:active {
    color: #001c2d;   
    text-decoration: none;
}

textarea {
    resize: vertical;
    min-height: 94px;
    border-color: #ded5b7 !important;
}

label {
    color: #033e5d;
    font-weight: 400;
}

input {
    border-color: #ded5b7 !important;
}

::selection{
  background-color: #ded5b7;
  color: #033e5d;
}

::-moz-selection {
  background-color: #ded5b7;
  color: #033e5d;
}

.bodyContent {
    min-height: 77vh;
}

.mt-0 {
    margin-top: 0px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.blue {
    color: #033e5d;
}

.blueDark {
    color: #001c2d;
}

.beige {
    color: #ded5b7;
}

.beigeDark {
    color: #bcb395;
}

.wellBlue {
    background-color: #033e5d;
    border: 1px solid #001c2d;
}

.wellBeige {
    background-color: #ded5b7;
    border: 1px solid #bcb395;
}

.myWell {
    background-color: #fff;
    border: 1px solid #ded5b7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);    
}

.myWellPadding {
    background-color: #fff;
    border: 1px solid #ded5b7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);    
}

.myWellBottom {
    background-color: #fff;
    border-top: 0px;
    border-color: #ded5b7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);    
}

.myCheckbox input {
    height: 16px;
    width: 16px;
    margin-left: 5px;
    vertical-align: text-bottom;
}

@media screen and (max-width: 768px) {
    .myWellPadding {
        padding-bottom: 120px;
    }
}

.g-recaptcha {
    display: inline-block;
}

@media screen and (max-width: 490px){ 
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.8);
        -webkit-transform:scale(0.8);
    } 
}


/************************** Nav **************************/
.navbar {
    z-index: 2;
}

.navbar-default {
    background-color: #fff;
    border: 0px;
    height: 35px;
}

.navbar-default .navbar-nav>li>a {
    text-indent: 0px;
    color: #033e5d;
    letter-spacing: 1px;
    margin: 5px 0px 0px 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ded5b7;
    background-color: #033e5d;
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #c9bf9c;
    background-color: #fff;
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0px;
}

#logo {
    height: 65px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    #logo {
        height: 50px;
        margin-left: 0px;
    }
    .navbar-default .navbar-nav>li>a {
        margin: 0px;
    }
    .navbar-collapse, .collapse, .in {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@media screen and (max-width: 305px) {
    #logo {
        height: 45px;
    }
    #carousel {
        display: none;
    }
    .navbar {
        margin-bottom: 20px;
    }
}


/************************** Footer **************************/
.footer {
    display: flex;
    align-items: center;
    height: auto;
    padding: 10px;
    color: #033e5d ;
    background-color: #ded5b7;
    text-align: center;
    font-size: 0.9em;
}

.footer a {
    list-style: none;
}

#copyright {
    padding-top: 10px;
}

#mentions,
#networks {
    padding-top: 30px;
}

@media screen and (max-width: 767px) {
    #mentions,
    #networks {
        padding-top: 0px;
    }
}


/************************** Carousel **************************/
#carousel {
    z-index: 1;
}


/************************** Home **************************/
.jumbotron {
    background-color: #ded5b7;
    color: #033e5d;
    padding-bottom: 29px;
}

.jumbotron a {
    color: #033e5d;
    text-decoration: none;
}

.jumbotron a:hover {
    color: #001c2d;
}

#logoLions {
    float: left;
    padding-top: 25px;
    padding-left: 0px;
}

.modifLi {
    list-style: none;
    text-indent: 20px;
}

.modifLi span {
    font-size: 0.8em;
}

.modifLiInter {
    text-indent: 20px;
}

.whitePoint {
    color: #fff;
}

.toUp,
.toUp:focus {
    color: #033e5d;
}

.toUp:hover,
.toUp:active {
    color: #001c2d;
}

@media screen and (max-width: 1200px){
    .modifLi {
        text-indent: -15px;
    }
    .modifLiInter {
        text-indent: 20px;
    }
}

@media screen and (max-width: 992px){
    #logoLions {
        padding-top: 0px;
    }
    .modifLiInter li:last-child {
        margin-left: 140px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron h2 {
        font-size: 1.8em;
    }
    .modifLiInter li:last-child {
        margin-left: 0px;
    }
    .modifLiInter {
        text-indent: -15px;
    }
}

@media screen and (max-width: 490px){
    #logoLions {
        float: none;
        margin-left: 10%;
    }
}

@media screen and (max-width: 360px){
    .verySmall {
        font-size: 75%;
    }
}

@media screen and (max-width: 305px) {
    .jumbotron {
        padding: 15px;
    }
}


/************************** Actualités **************************/
.btnSearch input {
    border-color: #ded5b7;
}

.btnSearch input:focus {
    border-color: #ded5b7;
    box-shadow: 0px 0px 0px #fff;
}

.btnSearch input::placeholder {
    color: #ded5b7;
}

.btnSearch button {
    background-color: #ded5b7;
    color: #033e5d;
}

.btnSearch button:hover {
    background-color: #c9bf9c;
    color: #001c2d;
}

.blogArticle {
    padding: 20px;
    border: 1px solid #ded5b7;
    border-radius: 4px;
    margin-bottom: 30px;
    clear: both;
}

.blogArticle .blogTitle{
    margin-top: 0px;
    color: #033e5d;
}

.blogArticle a {
    color: #033e5d;
    text-decoration: none;
}

.blogArticle a:hover {
    color: #001c2d;
}

.blogButton {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 20px;
}

.blogButton .btn,
.btnBlue {
    background-color: #033e5d;
    color: #ded5b7 !important;
    border: 0;
}

.blogButton .btn:hover,
.btnBlue:hover {
    background-color: #001c2d;
    color: #ded5b7;
}

.blogContent {
    margin-top: 20px;
}

.blogComment, .blogCommentList {
    margin-top: 30px;
    margin-left: 0px;
}

.blogCommentList b {
    color: #033e5d;
}

.comment {
    margin-top: 20px;
  }

.upload .browse input[type='file']{
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    height: 1px;
    width: 1px;
    z-index: -5;
}

.fileSelectButton {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    color: #033e5d;
    font-size: 3em;
    margin-top: -20px;
    margin-left: -20px;
    padding-left: 20px;
    
}

.fileSelectButton:hover {
    color: #001c2d;
}


/************************** Profil **************************/
.profilNav {
    padding-left: 0px;
    padding-right: 0px;
}

.profilNav li a {
    background-color: #fff;
    margin-bottom: -2px;
    border-radius: 0px;
    border: 1px solid #ded5b7;
    border-bottom: 0px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.profilNav .active a {
    background: -moz-linear-gradient(top, #ded5b7 75%, rgba(191, 181, 146, 0.75)) !important;
    background: -webkit-linear-gradient(top, #ded5b7 75%, rgba(191, 181, 146, 0.75)) !important;
    background: -ms-linear-gradient(top, #ded5b7 75%, rgba(191, 181, 146, 0.75)) !important;
    background: -o-linear-gradient(top, #ded5b7 75%, rgba(191, 181, 146, 0.75)) !important;
    color: #033e5d !important;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

.profilNav a:hover {
    background-color: #efeadc !important;
}

.table>thead>tr>th {
    border-bottom: 0px;
}

tbody button {
    background-color: rgba(255, 255, 255, 0);
    color: #033e5d;
    border: 0px;
}

tbody button:hover {
    color: #001c2d;
}

tr {
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
}

tr:hover {
    background-color: #ded5b7;
    color: #033e5d;
}

th,
th:hover {
    background-color: #fff !important;
    color: #7b7b7b !important;
}

.editImage{
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .profilNav li a {
        margin-bottom: 0px;
    }
    .profilNav .active a {
        background: #ded5b7 !important;
    }
}


/************************** Errors **************************/
#navHeight {
    width: 100%;
    height: 30px;
    background-color: #fff;
}

.oups {
    padding-bottom: 15px;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.oups h1 {
    font-size: 9em;
    font-weight: 700;
    color: #ded5b7;
    text-shadow: 3px 3px 9px #333;
    margin-top: 0px;
}

.oups p {
    display: inline-block;
    font-size: 2.2em;
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
    color: #fff;
    text-shadow: 1px 1px 5px #333;
}

.oups span {
    font-size: 3em;
    color: #ded5b7;
}

#allError {
    font-size: 1.2em;
    text-align: left;
    line-height: normal;
}

#allError span {
    font-size: 2em;
}

#katsankatre {
    display: inline-block;
    font-size: 10em;
    color: #ded5b7;
    text-align: right;
    text-shadow: 4px 4px 16px #333;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .oups p {
        font-size: 1.8em;
    }

@media screen and (max-width: 490px) {
    #error {
        padding-right: 0px;
        padding-left: 0px;
    }
    .oups h1 {
        font-size: 5.5em;
        text-align: center;
    }
    .oups p {
        padding-right: 7px;
        padding-left: 7px;
        font-size: 1.2em;
        text-align: center;
        line-height: 29px;
        margin-top: 15px;
    }
    #katsankatre {
        font-size: 9em;
        text-shadow: 4px 4px 16px #333;
        margin-top: 0px;
        text-align: center;
        margin-top: 10px;
    }
    #allError {
        font-size: 0.9em;
    }
    #allError span {
        font-size: 1.6em;
    }
}
